/*CSS*/
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
}
#tree{
  width:100%;
  height:100%;
}

.flip-container {
  font-size: 26px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  color: #fff;
}

.flip-container.horizontal:hover .flipper, .flip-container.horizontal.auto-flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.flipper {    
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 7px;
}
.front, .back, .flipper{
  width: 100%;
  height: 100%;
}


.front {
  z-index: 1;
  background: #039BE5;
}

.flip-container, .front, .back {
  text-align: center;
}


.back {    
  background: #2ecc71;
}
.flip-container.horizontal .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.flip-container.vertical .back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
}
img{
  width: 100%;
  border-radius: 7px;
}
.content{
  padding: 15px 10px;
  height: 100%;
}
.title{
  font-size: 16px;
}
.desc{
  font-size: 14px; line-height: 17px; text-align: justify;
  margin-top: 10px;
}